<mat-sidenav-container class="h-100">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
       <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
            <app-content-header 
                [icon]="'person_add'" 
                [title]="'Registrarse'" 
                [hideBreadcrumb]="true"
                [hasBgImage]="true" 
                [class]="'py-4'"></app-content-header>            
            <div class="p-4">
                <a mat-button routerLink="/login" color="accent" class="w-100">¿Ya tienes una cuenta? Inicia Sesión!</a>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
                    <input matInput placeholder="Nombre Completo" formControlName="name">
                    <mat-error *ngIf="form.controls.name.errors?.required">Nombre completo es requerido</mat-error>
                    <mat-error *ngIf="form.controls.name.hasError('minlength')">El nombre completo no es lo suficientemente largo, mínimo de 3 caracteres</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                    <input matInput placeholder="Correo Electronico" formControlName="email">
                    <mat-error *ngIf="form.controls.email.errors?.required">Correo electrónico es requerido</mat-error>
                    <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Dirección de correo electrónico inválida</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Contraseña" formControlName="password" type="password" minlength="6">
                    <mat-error *ngIf="form.controls.password.errors?.required">Contraseña es requerida</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('minlength')">La contraseña no es lo suficientemente larga, mínimo de 6 caracteres</mat-error>
                </mat-form-field> 
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Confirmar Contraseña" formControlName="confirmPassword" type="password">
                    <mat-error *ngIf="form.controls.confirmPassword.errors?.required">Confirmar contraseña es requerida</mat-error>
                    <mat-error *ngIf="form.controls.confirmPassword.hasError('mismatchedPasswords')">Las contraseñas no coinciden</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">REGISTRARSE</button>
            </div>
        </form>
  </div>
</mat-sidenav-container>